---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import ReactComponent  from '../components/ReactComponent';
import '@/styles/globals.css'
import { Button } from "@/components/ui/button"
import { Badge } from "@/components/ui/badge"
import NavigationMenu from '../components/NavigationMenu'
 import Home from '../app/dashboard/page'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Button onClick={()=>{console.log(111111111111)}}>Hello World</Button> -->
	<!-- <Badge>Badge</Badge>
	<Welcome />
	<ReactComponent /> -->
	<!-- <Welcome /> -->
	<!-- <ReactComponent  client:visible/> -->
	<!-- <NavigationMenu client:visible/> -->
	<!-- <Home client:visible/> -->
	
</Layout>
